## <img src="https://cdn.dribbble.com/users/942040/screenshots/4958927/glasses01.gif" width="60"/> Hey! I'm {{name}}

 * #### I'm a PhD student at the University of Edinburgh :scotland:
 * #### I work on statistical and machine learning techniques 
 * #### I use these techniques to analyse cancer genomics data :dna: 
 * #### I mostly code in R and Python :snake: 
 * #### You can find my academic website <a href = "https://www.maths.ed.ac.uk/~s1505825/">here</a>. 

PhD Progress:
:checkered_flag: {{progress}} :goat: {{non_progress}} :checkered_flag:  <br> {{time_ratio}}%



<!--
**cobrbra/cobrbra** is a ✨ _special_ ✨ repository because its `README.md` (this file) appears on your GitHub profile.

Here are some ideas to get you started:

- 🔭 I’m currently working on ...
- 🌱 I’m currently learning ...
- 👯 I’m looking to collaborate on ...
- 🤔 I’m looking for help with ...
- 💬 Ask me about ...
- 📫 How to reach me: ...
- 😄 Pronouns: ...
- ⚡ Fun fact: ...
-->
